@media all and (min-width: 500px) {
h1{
    font-size: 50px;
	padding:2.5px;
  }
h2{
	font-size:30px;
}
.headSpace{
	height: 60px;
}
}
@media all and (max-width: 499px) and (min-width:0px){
h1{
    font-size: 10vw;
	padding:0.5vw;
  }
h2{
	font-size: 6vw;
}
.headSpace{
	height:10vw;
}
}



body{
	font-family: Arial, Helvetica, sans-serif;
	margin:0;
	-webkit-margin:0;
	background-color: #fafafa;
}

h1, h2{
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	margin: 0;
}

h1{
	text-align: center;
	white-space: nowrap;
}

a{
	text-decoration: none;
}

p{
	margin:1rem
}

iframe{
	overflow:hidden;
	border-width: 0;
}

.header {
	position:fixed;
	width:100%;
	top:0px;
	color: white;
	background-color: #D32F2F;
	z-index: 1;
	white-space: nowrap;
}

.headSpace{
	position:relative;
	width:100%;
	z-index:-1
}

.container{
	margin: 1rem;
	padding:0.5rem;
	background-color: white;
	box-shadow: 0px 0px 5px #888888;
}

.video-container {
	position: relative;
	padding-top: 50%;
	margin: 1rem;
	overflow: hidden;
	box-shadow: 0px 0px 5px #888888;
	z-index: 0
}

.video-container object {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.button{
	float:left;
	color:inherit;
	background-color: darkred;
	height:100%;
}