/*Desktop dimensions*/
@media all and (min-width: 800px) {
h1{
    font-size: 50px;
	padding:2.5px;
  }
h2{
	font-size:30px;
}
p, ol{
	font-size: 20px
}
.headSpace{
	height: 60px;
}
.card{
	width:400px;
	margin:1rem auto
}
.video-container {
	height: 500px;
	width: 700px;
	margin: 1rem auto;
}
.container,.space-container{
	width:800px;
	margin: 1rem auto;
}
.container img{
	height:40px;
}
footer{

}
}
/*Mobile dimensions*/
@media all and (max-width: 799px) and (min-width: 50px) {
h1{
    font-size: 7vw;
	padding:0.5vw;
  }
h2{
	font-size: 6vw;
}
p, ol{
	font-size: 4vw
}
.headSpace{
	height:10vw;
}
.video-container {
	padding-top: 70%;
	margin: 1rem;
}
.container,.space-container{
	margin: 1rem;
}
.card{
	margin:1rem
}
.container img{
	height:6.5vw;
}
footer{

}
}
/*Universal dimensions*/
body {
    font-family: Arial, Helvetica, sans-serif;
    -webkit-margin: 0;
    margin: 0;
    padding: 0;
    background-color: #fafafa;
}

.viewport{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	height: 100vh;
}

.content {
	-webkit-box-flex: 1;
	-webkit-flex: 1 0 auto;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
}

h1, h2{
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	margin: 0;
}

h1{
	text-align: center;
}

a{
	text-decoration: none;
}

p{
	padding:0;
	line-height: 1.5;
}

.container p, .card p{
	margin:0
}

.container img{
	vertical-align: text-top;
	float:left;
	width:auto;
}
.card img{
	width: 100%;
}
iframe{
	overflow:hidden;
	border-width: 0;
	height:100vh;
	width:100vw;
}

header {
	position:fixed;
	width:100%;
	top:0;
	color: white;
	background-color: #D32F2F;
	z-index: 1;
}

.headSpace{
	position:relative;
	width:100%;
	z-index:-1
}

.container{
	background-color: white;
	box-shadow: 0 0 5px #888888;
	padding:0.5rem;
}

.card{
	background-color: white;
	box-shadow: 0 0 5px #888888;
	padding:0.5rem;
}

.space-container{
	padding:0.5rem;
	position:relative;
	height:25vh
}

.video-container {
	position: relative;
	overflow: hidden;
	box-shadow: 0 0 5px #888888;
	z-index: 0
}

.video-container object {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.button{
	float:left;
	color:inherit;
	background-color: #A02337;
}

ol.num{
	list-style-type: decimal
}

.highlight{
	background-color: yellow
}

#bottomPic{
	float:right;
	height:100%
}

.gradient-pattern {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    /*width: 320px;
  height: 320px;
  border: none;
  color: rgba(255,255,255,1);*/
    -o-text-overflow: clip;
    -ms-text-overflow: clip;
    text-overflow: clip;
    background: -webkit-linear-gradient(90deg, rgba(194,236,235,1) 4px, rgba(0,0,0,0) 2px), -webkit-linear-gradient(0, rgba(194,236,235,1) 4px, rgba(0,0,0,0) 2px), rgba(223,244,243,1,196,247,1);
    background: -moz-linear-gradient(0, rgba(194,236,235,1) 4px, rgba(0,0,0,0) 2px), -moz-linear-gradient(90deg, rgba(194,236,235,1) 4px, rgba(0,0,0,0) 2px), rgba(223,244,243,1,196,247,1);
    background: linear-gradient(0, rgba(194,236,235,1) 4px, rgba(0,0,0,0) 2px), linear-gradient(90deg, rgba(194,236,235,1) 4px, rgba(0,0,0,0) 2px), rgba(223,244,243,1);
    background-position: -2px -2px;
    -webkit-background-origin: padding-box;
    -moz-background-origin: padding-box;
    background-origin: padding-box;
    -webkit-background-clip: border-box;
    -moz-background-clip: border-box;
    background-clip: border-box;
    -webkit-background-size: 100px 100px;
    background-size: 100px 100px;
}

footer{
	width:100%;
	-webkit-box-flex: 0;
	-webkit-flex: none;
	-ms-flex: none;
	flex: none;
	background-color: white;
	display: flex
}

#logo{
	padding:10px;
	height:25px;
	color:darkred
}

#grad {
  background: -webkit-linear-gradient(top,rgba(255,0,0,0),rgba(255,255,255,1)); /*Safari 5.1-6*/
  background: -o-linear-gradient(bottom,rgba(255,0,0,0),rgba(255,255,255,1)); /*Opera 11.1-12*/
  background: -moz-linear-gradient(bottom,rgba(255,0,0,0),rgba(255,255,255,1)); /*Fx 3.6-15*/
  background: linear-gradient(to bottom, rgba(255,0,0,0), rgba(255,255,255,1)); /*Standard*/
}